.root_navbar {
    position: sticky;
    padding: 20px 30px;
    background-color: #231a1a;
}

.root_nav_item_container div + div,
.root_nav_content_container div + div {
    margin-left: 10px;
}

.root_nav_item_container div:not(:last-child),
.root_nav_content_container div:not(:last-child) {
    margin-right: 10px;
}

.root_nav_item {
    padding: 0 15px;
    background-color: #5d2424;
    border-radius: 10px;
}

.root_nav_item:hover {
    background-color: #c53a3a;
}

div.active {
    background-color: #9d0e0e;
}

.root_nav_item > a {
    line-height: 50px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}
